.first-color { 
	background: #f0ece2; 
}
	
.second-color { 
	background: #dfd3c3; 
}

.third-color { 
	background: #c7b198; 
}

.fourth-color { 
	background: #596e79; 
}

body {
    font-family: monospace;
    font-style: oblique;
    background-color:#393E46;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    }

button {
    height: 50px;
    width: 50px;
    border-radius: 10%;
    background-color:#f0ece2 ;
}

.menu {
    padding: 50px;
}

p {
    color: #EEEEEE;
}

h1 {
    color:#EEEEEE;
}

.result {
    color:#EEEEEE;
    
}

.points {
    color:#EEEEEE;
    margin-bottom: 50px;
}

